# These keys define the implementation to classes that instantiate objects in SIM via the factory pattern

CLIENT_SERVICE_FACTORY_IMPL = extra.retail.sim.service.core.ExtraClientServiceFactoryImpl

SERVER_SERVICE_FACTORY_IMPL = extra.retail.sim.service.core.ExtraServerServiceFactoryImpl

CLIENT_WEB_SERVICE_FACTORY_IMPL = extra.retail.sim.service.core.ExtraWSClientServiceFactoryImpl

BO_FACTORY_IMPL = extra.retail.sim.common.business.ExtraBOFactoryImpl

IMEI_WEB_SERVICE_BASE_URL = http://prodsimapp.extrastores.com:7511/extra-imei-capture/sim