// Here you can add other styles

.form-control-file {
    padding: 0;
    border: unset;
}

ul.pagination {
    display: inline-flex;
}

table.filter thead th {
    vertical-align: middle !important;
}
